<!-- form handling -->
<form action="/api/students" method="POST" id="add_student">
  <div class="new_student">
    <div class="form-group">
      <label for="rollNumber" class="form-text-light">Roll No</label>
      <input type="number" name="rollNumber" value="" />
    </div>
    <div class="form-group">
      <label for="name" class="form-text-light">Name</label>
      <input type="text" name="name" value="" />
    </div>
    <div class="form-group">
      <label for="dob" class="form-text-light">D.O.B</label>
      <input type="date" name="dob" value="" />
    </div>
    <div class="form-group">
      <label for="score" class="form-text-light">Score</label>
      <input type="number" name="score" value="" />
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-next update">Save</button>
    </div>
  </div>
</form>

