<!-- include header -->
<%-include('partials/_header') %>
<!-- /include header -->

<div class="container">
  <div class="fixed-header mt-5">
    <h3 class="text-center">Login As</h3>
  </div>

  <div class="teacherLogin mt-4 text-center">
    <button
      class="btn btn-lg text-light mt-4 p-4 mb-4"
      style="margin-right: 10px;background-color: #80669d;"
    >
      <a href="/teacherLogin">Teacher</a>
    </button>
    <button type="button" class="btn btn-lg mt-4 p-4 mb-4" style="background-color: #dd7973;">
      <a href="/login">Student</a>
    </button>
  </div>
</div>

<!-- include footer -->
<%-include('partials/_footer') %>
<!-- /include footer -->